@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "rouble";
  font-display: swap;
  src: url("../fonts/rouble.woff") format("woff"), url("../fonts/rouble.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  max-width: 1440px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.patients {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #071330;
  text-decoration: none;
  margin-left: 65px;
}

.doctors {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #071330;
  text-decoration: none;
  margin-left: 40px;
}

.header-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #3d55f9;
  border-radius: 12px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn {
  margin-top: 15px;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.answers-title {
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  line-height: 50px;
  color: #071330;
  margin-top: 125px;
  width: 460px;
}

.answers-describtion {
  width: 450px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #071330;
}

.answers-img {
  margin-right: 220px;
  margin-top: 14px;
  margin-left: -10px;
}

.form-content {
  background: #ffffff;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 8px 24px rgba(7, 19, 48, 0.06);
          box-shadow: 0px 8px 24px rgba(7, 19, 48, 0.06);
  border-radius: 20px;
  width: 497px;
  height: 80px;
}

.answers-form {
  margin-top: 25px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.answers-form {
  background: #ffffff;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 8px 24px rgba(7, 19, 48, 0.06);
          box-shadow: 0px 8px 24px rgba(7, 19, 48, 0.06);
  border-radius: 20px;
}

.form-input {
  position: relative;
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #071330;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 178px;
  border: none;
}

.btn-submit {
  position: absolute;
  height: 56px;
  left: 0;
  margin-left: 483px;
  padding: 20px 30px;
  background: #3d55f9;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.test-skin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test-skin a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3d55f9;
}

.eczema-img {
  margin-top: 284px;
  margin-right: 266px;
}

.test-skin-content {
  margin-top: 303px;
}

.test-skin-title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  color: #071330;
}

.test-skin-text1 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #071330;
}

.test-skin-text2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #071330;
}

.biohacking-title {
  width: 700px;
  height: 94px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #071330;
  margin: 420px 370px 66px 370px;
}

.bio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bio-number {
  background: #3d55f9;
  -webkit-box-shadow: 16px 16px 32px rgba(7, 19, 48, 0.08);
          box-shadow: 16px 16px 32px rgba(7, 19, 48, 0.08);
  border-radius: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  padding: 12px 20px;
}

.bio-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  display: block;
  color: #071330;
  margin-top: 25px;
  margin-bottom: 23px;
}

.bio-text {
  width: 535px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: rgba(7, 19, 48, 0.6);
}

.bio-image {
  margin-left: 230px;
}